*.fasl
*.class
*.cache
*~
#*
*.DS_Store
.bloop
.bsp
.idea
.metals
.scalafmt.conf
.vscode
project/.bloop
project/project
project/project/.bloop
project/target
project/target
src/.idea
src/.nrepl-port
target

