*.fasl
*.class
*.cache
*~
#*
*.DS_Store
.bloop
.bsp
.idea
.metals
.scalafmt.conf
.vscode
project/.bloop
project/project
project/project/.bloop
project/target
project/target
src/.idea
src/.nrepl-port
target
doc/scala.io/2024/*.aux
doc/scala.io/2024/*.fls
doc/scala.io/2024/*.log
doc/scala.io/2024/*.nav
doc/scala.io/2024/*.toc
doc/scala.io/2024/*.sta
doc/scala.io/2024/*.snm
doc/scala.io/2024/*.out
doc/scala.io/2024/*.pdf
doc/scala.io/2024/*.fdb_latexmk


*.aux
*.fdb_latexmk
*.fls
doc/functional.scala/2024/newton.2024.functional.scala.slides.log
doc/functional.scala/2024/newton.2024.functional.scala.slides.nav
doc/functional.scala/2024/newton.2024.functional.scala.slides.out
doc/functional.scala/2024/newton.2024.functional.scala.slides.snm
doc/functional.scala/2024/newton.2024.functional.scala.slides.sta
doc/functional.scala/2024/newton.2024.functional.scala.slides.toc
