*.fasl
*.class
*.cache
*~
#*
*.DS_Store
.bloop
.bsp
.idea
.metals
.scalafmt.conf
.vscode
cl-robdd-scala/.bloop
cl-robdd-scala/.bsp
cl-robdd-scala/.idea
cl-robdd-scala/.metals
cl-robdd-scala/.scalafmt.conf
cl-robdd-scala/.vscode
cl-robdd-scala/project/.bloop
cl-robdd-scala/project/project
cl-robdd-scala/project/project/.bloop
cl-robdd-scala/project/target
cl-robdd-scala/target
cl-robdd/src/.idea
cl-robdd/src/.nrepl-port
project/.bloop
project/project
project/project/.bloop
project/target
project/target
src/.idea
src/.nrepl-port
target

